---
name: Package tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      packages:
        type: string
        description: Space-separated list of package definitions to test.
        required: true

jobs:
  package-diff:
    name: Check package diffs
    runs-on: ubuntu-latest
    outputs:
      all_changed_files: ${{ steps.changed-packages.outputs.all_changed_files }}
      any_changed: ${{ steps.changed-packages.outputs.any_changed }}

    steps:
      - uses: actions/checkout@v3
      - name: Get changed package definitions
        id: changed-packages
        uses: tj-actions/changed-files@v35
        with:
          files: |
            packages/**/package.yaml

  tests:
    name: Test packages
    needs: package-diff
    if: ${{ github.event.inputs.packages || needs.package-diff.outputs.any_changed == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        # If making changes remember to update the manual workflow as well.
        target:
          - darwin_arm64
          - darwin_x64
          - linux_arm
          - linux_arm64
          - linux_x64
          - linux_x64_gnu
          - linux_arm64_gnu
          - linux_x86
          - win_arm
          - win_arm64
          - win_x64
          - win_x86

        include:
          - target: linux_x64
            runs-on: ubuntu-latest
          - target: linux_x64_gnu
            runs-on: ubuntu-latest
          - target: linux_x86
            runs-on: ubuntu-latest
          - target: linux_arm
            runs-on: ubuntu-latest
          - target: linux_arm64
            runs-on: ubuntu-latest
          - target: linux_arm64_gnu
            runs-on: ubuntu-latest
          - target: darwin_x64
            runs-on: macos-latest
          - target: darwin_arm64
            runs-on: macos-latest
          - target: win_x64
            runs-on: windows-latest
          - target: win_x86
            runs-on: windows-latest
          - target: win_arm64
            runs-on: windows-latest
          - target: win_arm
            runs-on: windows-latest

    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v3
      - uses: mason-org/actions/tests@v1
        with:
          packages: ${{ github.event.inputs.packages || needs.package-diff.outputs.all_changed_files }}
          target: ${{ matrix.target }}

  # This job is used for branch protection rule
  # Add this job to `Status checks that are required`
  status-check:
    name: Status check
    runs-on: ubuntu-latest
    needs: tests
    if: failure()
    steps:
      - run: exit 1
